[defaults]
inventory         = inventory/hosts.ini
remote_user       = ubuntu              # поменяй на своего пользователя
private_key_file  = ~/.ssh/id_rsa
host_key_checking = False               # для учебной среды; в prod — включить
stdout_callback   = yaml                # читаемый вывод
